@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: floralwhite;
    font-family: 'Poppins', sans-serif;
}
/* a,h1,p,h2,h5,h4 { color: #FFFF; } */

.footerbackground{
    background-color:  #34495e;
}

body{
  background-image: url("img/background2.jpg");
  background-position: center;
  background-size: cover;
}

.carousel .carousel-item {
    height: 300px;
  }
  
  .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px;
  }

.icons{
    width: 100px;
}

.bulat{
  border-radius: 50%;
}

.navbar { 
  margin-bottom: 10px;
}
/* From uiverse.io by @joe-watson-sbf */
.container {
    position: relative;
    font-family: sans-serif;
  }
  
  .container::before, .container::after {
    content: "";
    background-color: #fab5704c;
    position: absolute;
  } 
  
  .container .box {
    width: auto;
    height: auto;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.074);
    border: 1px solid rgba(255, 255, 255, 0.222);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: .7rem;
    transition: all ease .3s;
  }
  
  .container .box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .container .box .title {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: .1em
  }
  
  .container .box div strong {
    display: block;
    margin-bottom: .5rem;
  }
  
  .container .box div p {
    margin: 0;
    font-size: .9em;
    font-weight: 300;
    letter-spacing: .1em;
  }
  
  .container .box div span {
    font-size: .7rem;
    font-weight: 300;
  }
  
  .container .box div span:nth-child(3) {
    font-weight: 500;
    margin-right: .2rem;
  }
  
  .container .box:hover {
    box-shadow: 0px 0px 20px 2px #0808083f;
  }
  
  .floating {
    width: 100%;
    border-radius: .5rem;
    transition: .3s ease;
   }

   .floating:hover {
    color: #34495e;
    background-color: #fff9f9f5;
    transform: translateY(-25%);
    box-shadow: rgba(245, 244, 242, 0.25) 0px 13px 47px -5px, rgba(255, 255, 255, 0.3) 0px 8px 16px -8px;
   }

   .emboss {
    width: 190px;
    height: 254px;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe,
                -15px -15px 30px #ffffff;
   }
   
   .navbar {
    background: rgba(7, 7, 7, 0.5);
 }
 
  html{
    scroll-behavior: smooth;
  }